<p>
<strong>Title:</strong>
<span>
    <%=@book.title%>
</span>
</p>
<p>
<strong>Body:</strong>
    <%=@book.body %>
</p>
<span>
   <%=link_to "Edit",edit_book_path %>
</span>
<span>
  |
</span>
<sapn>
  <%=link_to "Back",books_path %>
</sapn>

